<div id="question-page">
	<div id="question">
	<%= @question.questions %>
	</div>
		<div id="question-page-main-section">
			<div id="give-answer">
				<%= link_to Answer,url_for(controller: :home, action: 'give_answer' ,id: @question.id ) %>
			</div>
			<div id="follow-question">
				<div>
					<% if @question.question_followers_mappings.where(user_id: session[:user_id].to_i).first
							value = "Unfollow"
							link="unfollow_question"
					else 
							value= "Follow"
							link="follow_question"
					end %>
					<%= link_to value, url_for(controller: :home,action: link,id:@question.id) %>
				</div>
				<div id="question-follow-numbers"> <%= @question.question_followers_mappings.length %>
				</div>
			</div>
			<div id="upvote-question">
				<%= link_to "Upvote", url_for(controller: :home,action: :question_upvote,id: @question.id) %>
			</div>
			<div id="downvote-question">
				<%= link_to "Downvote", url_for(controller: :home,action: :question_downvote,id: @question.id) %>
			</div>
		</div>
	</div>
	<div id="question-page-aside-section">
		<div id="heading-of-related-question">Related Questions</div>
		<div id="related-questions">
			<% @related_questions.each do |question| %>
			<div id="related-questions-question">
				<%= link_to question.questions, url_for(controller: :home,action: :give_answer,id: question.id) %>
			</div>
			<% end %>
		</div>
	</div>