<div id="header">
		<div id="header-quora-image">
			<a href="/"><img src="<%= image_url("quora.jpg") %>" id="img" ></a>	
		</div>
		<div id="search-section">
			<%= form_tag({controller: :home,action: :search},method: :get) do %>
			<%= text_field_tag(:search,nil,placeholder: 'Ask or Search Quora',id: 'search-bar')%><%= submit_tag('Ask Question',id: 'search-button') %>
			<% end %>
		</div>
		<div> <a href="">Read</a> </div>
		<div> <a href="">Answer</a> </div>
		<div> <a href="">Notification</a> </div>
		<div> <a href=""><%= @user.name %></a> </div>
		<div> <a href="/logout">Logout</a> </div>
	</div>


<!-- <section id="details">
<a href="/logout"> Logout </a>
<br>
Name:<%= @user.name %><br>
Email:<%= @user.email %>
<br>
<a href="questions_asked"> Question Asked </a><br>
<a href="all_questions">All Questions</a>
<%= form_tag('/ask_question',method: :get) do %>
	<%= text_area_tag(:question) %>
	<%= submit_tag('Ask Question') %>
	<% end %>
</section> -->
<section id="section">
	<aside id="aside-section">
		<div id="feed-head">Feeds</div>
		<a href=""><li id="feeds-list">Top Stories</li></a>
		<a href=""><li id="feeds-list">New Questions</li></a>
		<a href=""><li id="feeds-list">Bookmarked Answers</li></a>
		<a href=""><li id="feeds-list">Asked Questions</li></a>
	</aside>
	<main id="main-section">


	</main>	
</section>





