<a href="/logout"> Logout </a>
<br>
Name:<%= @user.name %><br>
Email:<%= @user.email %>
<br>
<a href="questions_asked"> Question Asked </a><br>
<a href="all_questions">All Questions</a>
<%= form_tag('/ask_question',method: :get) do %>
	<%= text_area_tag(:question) %>
	<%= submit_tag('Ask Question') %>
	<% end %>