<!DOCTYPE html>
<html>
<head>
  <title>QuoraUsingRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "autocomplete-rails.js" %>

  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<% unless session[:user_id].nil? %>
			<% @user=User.find_by_id(session[:user_id].to_i) %>
			<div id="header">
			<div id="header-quora-image">
				<a href="/"><img src="<%= image_url("quora.jpg") %>" id="img" ></a>	
			</div>
			<div id="search-section">
				<%= form_tag({controller: :home,action: :search},method: :get) do %>
				<%=   autocomplete_field_tag 'questions', '', autocomplete_question_questions_path %>
				<%= submit_tag('Ask Question',id: 'search-button') %>
				<% end %>
			</div>
			<div> 
				<a href="">Read</a> 
			</div>
			<div>
				<a href="">Answer</a>
			</div>
			<div>
				<a href="">Notification</a>
			</div>
			<div id="drop-down">
				<a href="/profile_page" id="drop-down-button"><%= @user.name %></a>
				<div id="drop-down-menu-button">
					<div id="drop-down-menu-button">

					</div>	
				</div>
			</div>
			<div> <a href="/logout">Logout</a> </div>
		</div>
	<% end %>
<%= yield %>
</body>
</html>
